:root {
    background-color: rgb(245, 245, 220);
}

* {
    box-sizing: border-box;
    text-decoration: none;
 }

 body {
    display: flex;
    margin: 1px 150px 1px 150px;
    font-family: 'Playfair Display', serif;
}

.nav-container {
    width:100%;
}

.nav-item {
    padding-left: 15px;
    font-family: 'Cinzel', serif;
    text-shadow: 1px 1px black;
}

.header-main {
    background-image: url("https://wallpapercave.com/wp/wp3377140.jpg");
    padding: 15px;
}

h1 {
    color: rgb(223, 197, 132);
    text-shadow: 1px 1px azure;
    font-family: 'Cinzel', serif;
    text-align: center;
}

.fas {
    margin-right: 5px;
}


